.navbar{
    background-color: #f5ba13;
    padding:2vh 0;
    text-align: left;
    color:white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 7px 11px rgba(0, 0, 0, 0.2);
}

div > i{
    font-size: clamp(32px, 2.2vw, 3rem);
    padding-left: 3.8vw;
}
div > h1{
    font-weight: 500;
    margin:0;
    margin-left: 1.5vw;
    font-size: clamp(40px, 2.2vw, 3rem);
    
}
.contents{
    display: flex;
    flex-wrap: wrap;
}